/*My skill with CSS is very bad hahahaha*/
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

header{
    display:flex;
    height: 310px;
    margin-bottom: 50px;
}

header .Imagem_Especial{
    margin-left: 30px;
    margin-top: 50px;
    width: 280px;
    height: 220px;
}

.MenuSuperior{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 32%;
    margin-left: 40px;
}

.MenuSuperior a{
    border-radius: 20px;
    color: black;
    padding: 7px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 42px;
    margin-left: 50px;
    cursor: pointer;
}

.MenuSuperior a:hover{
    color: yellow;
    /*Adding a small animation on the links*/
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.MenuSuperior2{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 68%;
    font-size: 25px;
}

.Imagens1{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 13px;
}

.Imagens1 img{
    width: 190px;
    height: 180px;
    cursor: pointer;
}

img{
    width: 100%;
}

/*This part of the CSS code with the image path is responsible for defining how the image animation will be*/
img[src="Imagens/Imagem1.png"] {
    cursor: grab;
    transition: transform 0.8s ease;
}

img[src="Imagens/Imagem1.png"]:active {
    cursor: grabbing; 
    transform: scale(1.1); 
}

h3{
    text-align: center;
    font-size: 30px;
}

main{
    font-size: 34px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    width: 90%;
    margin-left: 5%;
    align-items: center;
}

.Imagens2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    padding: 15px;
    align-items: stretch;
    margin-top: 30px;
}

.Imagens2 img{
    width: 100%;
    border-radius: 13px; /*Adding borders to the images*/
    transition: transform 0.3s ease; /* Animation for hover */
}

.Imagens2 a:hover img{
    transform: scale(1.06);
    box-shadow: 0 6px 9px rgba(0,0,0,0.6);
}

footer{
    display: flex;
    height: 195px;
    background-color: rgb(223, 24, 6);
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

footer h3{
    margin-top: 10px;
    font-size: 37px;
    margin-left: 20px;
}

footer p{
    font-size: 24px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.MenuInferior{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 30px;
    width: 50%;
}

.Imagem_Especial2{
    width: 180px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.MenuInferior2{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
}

.MenuInferior2 a{
    text-decoration: none;
    background-color: yellow;
    border-radius: 13px;
    padding: 24px;
    color: red;
}

.MenuInferior2 a:hover{
    cursor: pointer;
    padding: 27px;
    box-shadow: 0 8px 11px rgba(0,0,0,0.8);
    opacity: 79%;
}  

/* Media query for devices between 768px and 1024px (landscape tablets) */
@media (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20
